.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #0284c7;
    display: flex;
    z-index: 1000;
}


.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
}

.navbar li {
    margin-left: 10px;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #eaeaea;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    padding: .2em .4em;
    border-radius: 5px;
}

.navbar li:hover { 
    background-color: #075985;
    color: #FFF;
}
  


